# Using the SMABacktester Class

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.optimize import brute
plt.style.use("seaborn")

In [2]:
df = pd.read_csv("forex_pairs.csv", parse_dates = ["Date"], index_col = "Date")

In [3]:
df

            AUDEUR=X  EURUSD=X  USDGBP=X
Date
2004-01-01   0.59780  1.258194   0.56016
2004-01-02   0.60314  1.258194   0.55751
2004-01-05   0.60467  1.268698   0.55334
2004-01-06   0.60350  1.272103   0.54906
2004-01-07   0.60728  1.264095   0.55012
...              ...       ...       ...
2020-06-24   0.61349  1.131235   0.79841
2020-06-25   0.60938  1.125087   0.80561
2020-06-26   0.61373  1.122208   0.80480
2020-06-29   0.61128  1.122586   0.81023
2020-06-30   0.61097  1.124720   0.81231

[4295 rows x 3 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4295 entries, 2004-01-01 to 2020-06-30
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   AUDEUR=X  4274 non-null   float64
 1   EURUSD=X  4275 non-null   float64
 2   USDGBP=X  4287 non-null   float64
dtypes: float64(3)
memory usage: 134.2 KB

## Building the SMABackter Class from scratch

In [5]:
import SMABacktester as SMA

In [6]:
tester = SMA.SMABacktester("AUDEUR=X",50,200,"2004-01-01","2020-06-30")

In [7]:
tester.symbol

'AUDEUR=X'

In [8]:
tester.SMA_L

200

In [10]:
tester.results